<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="javascripts/script.js"></script>
</head>
<body>
    
    <link rel="stylesheet" href="stylesheets/Body.css">
  
    <div class="logo"></div>
    <form action="/auth" method="GET">
        <h1>Login</h1>
        <input type="text" value="" placeholder="Username" id="username"  name="username"/>
        <input type="password" value="" placeholder="Password" id="password" name="password" />
        <button  >Submit</button>
        </form>
         </div>
</body>
</html>